<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Twitter Sentiment Analysis</title>

    <!-- Bootstrap -->
    <link href="./assets/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="./assets/stylesheets/font-awesome.min.css" />
    <link href="./assets/stylesheets/animate.min.css" rel="stylesheet" />
    <link href="./assets/stylesheets/animate.css" rel="stylesheet" />
    <link href="./assets/stylesheets/home.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
  </head>

  <body>
    <div id="loader-wrapper">
      <div id="loader"></div>

      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>

    <!-- Navigation -->

    <div id="navigation">
      <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="row">
            <div class="site-logo">
              <a href="index.html" class="brand">Twitter Sentiment Analyser</a>
            </div>

            <div class="navbar-header">
              <button
                type="button"
                class="navbar-toggle"
                data-toggle="collapse"
                data-target="#menu"
              >
                <i class="fa fa-bars"></i>
              </button>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <script>
      $(document).ready(function() {
        setTimeout(function() {
          $("body").addClass("loaded");
        }, 3000);
      });
    </script>

