<% include partials/headerold %>
  <section id="hero">
    <div class="hero-container">
      <h1>Welcome to Twitter Sentiment Analyser and Rumour Detector</h1>
      
      <a href="/twitteranalysis" class="btn-get-started">Get Started</a>
    </div>
  </section>
  
<% include partials/footerold %>
