<% include partials/header %>
<script
  type="text/javascript"
  src="https://www.gstatic.com/charts/loader.js">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
  type="text/javascript"
  src="../public/assets/js/twitter.js">
</script>

<body>
<div class="container pt-4">
  <h2 class="display-1 text-center mb-5" id="topic">
    Twitter Sentiment Analyzer
  </h2>
  <div class="row justify-content-around">

    <div class="col-md-5 bg-light rounded-lg" id="inputform">
      <form class="pt-3" onsubmit="return runAnalyzerForCustom();">
        <div class="form-group">
          <label for="searchtrend">Analyze a trend</label>
          <input
            class="form-control"
            type="text"
            name="searchtrend"
            id="searchtrend"
            placeholder="Search a trend!"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="submit"
            class="btn btn-block btn-outline-primary"
            value="Analyze"
            id="submitbtn"
          />
        </div>
      </form>
    
    
      <h3 style="color: #161616c0">Top 20 Trending Keywords in India</h3>
        <div class="col-8 pr-0" id="topTopics">
            <button type="button" class="btn btn-primary" style="margin: 5px; background-color: rgba(55, 185, 224, 0.897);" id="1st" onclick="return runAnalyzer(this);"></button>
            <button type="button" class="btn btn-primary" style="margin: 5px; background-color: rgba(55, 185, 224, 0.897);" id="2nd" onclick="return runAnalyzer(this);"></button>
            <button type="button" class="btn btn-primary" style="margin: 5px; background-color: rgba(55, 185, 224, 0.897);" id="3rd" onclick="return runAnalyzer(this);"></button>
            <button type="button" class="btn btn-primary" style="margin: 5px; background-color: rgba(55, 185, 224, 0.897);" id="4th" onclick="return runAnalyzer(this);"></button>
            <button type="button" class="btn btn-primary" style="margin: 5px; background-color: rgba(55, 185, 224, 0.897);" id="5th" onclick="return runAnalyzer(this);"></button>
            <button type="button" class="btn btn-primary" style="margin: 5px; background-color: rgba(55, 185, 224, 0.897);" id="6th" onclick="return runAnalyzer(this);"></button>
            <button type="button" class="btn btn-primary" style="margin: 5px; background-color: rgba(55, 185, 224, 0.897);" id="7th" onclick="return runAnalyzer(this);"></button>
            <button type="button" class="btn btn-primary" style="margin: 5px; background-color: rgba(55, 185, 224, 0.897);" id="8th" onclick="return runAnalyzer(this);"></button>
            <button type="button" class="btn btn-primary" style="margin: 5px; background-color: rgba(55, 185, 224, 0.897);" id="9th" onclick="return runAnalyzer(this);"></button>
            <button type="button" class="btn btn-primary" style="margin: 5px; background-color: rgba(55, 185, 224, 0.897);" id="10th" onclick="return runAnalyzer(this);"></button>
            <button type="button" class="btn btn-primary" style="margin: 5px; background-color: rgba(55, 185, 224, 0.897);" id="12th" onclick="return runAnalyzer(this);"></button>
            <button type="button" class="btn btn-primary" style="margin: 5px; background-color: rgba(55, 185, 224, 0.897);" id="13th" onclick="return runAnalyzer(this);"></button>
            <button type="button" class="btn btn-primary" style="margin: 5px; background-color: rgba(55, 185, 224, 0.897);" id="14th" onclick="return runAnalyzer(this);"></button>
            <button type="button" class="btn btn-primary" style="margin: 5px; background-color: rgba(55, 185, 224, 0.897);" id="15th" onclick="return runAnalyzer(this);"></button>
            <button type="button" class="btn btn-primary" style="margin: 5px; background-color: rgba(55, 185, 224, 0.897);" id="16th" onclick="return runAnalyzer(this);"></button>
            <button type="button" class="btn btn-primary" style="margin: 5px; background-color: rgba(55, 185, 224, 0.897);" id="17th" onclick="return runAnalyzer(this);"></button>
            <button type="button" class="btn btn-primary" style="margin: 5px; background-color: rgba(55, 185, 224, 0.897);" id="18th" onclick="return runAnalyzer(this);"></button>
            <button type="button" class="btn btn-primary" style="margin: 5px; background-color: rgba(55, 185, 224, 0.897);" id="19th" onclick="return runAnalyzer(this);"></button>
            <button type="button" class="btn btn-primary" style="margin: 5px; background-color: rgba(55, 185, 224, 0.897);" id="20th" onclick="return runAnalyzer(this);"></button>
        </div>
    </div>
    <div class="col-md-6 bg-light rounded-lg">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist" style="background-color: #c5232300;">
          <a
            class="nav-item nav-link active"
            id="nav-analysis-tab"
            data-toggle="tab"
            href="#nav-analysis"
            role="tab"
            aria-controls="nav-analysis"
            aria-selected="true"
            >Analysis</a
          >
          <a
            class="nav-item nav-link"
            id="nav-toppostweets-tab"
            data-toggle="tab"
            href="#nav-toppostweets"
            role="tab"
            aria-controls="nav-toppostweets"
            aria-selected="false"
            >Top +ve tweets</a
          >
          <a
            class="nav-item nav-link"
            id="nav-topnegtweets-tab"
            data-toggle="tab"
            href="#nav-topnegtweets"
            role="tab"
            aria-controls="nav-topnegtweets"
            aria-selected="false"
            >Top -ve tweets</a>

            <a
            class="nav-item nav-link"
            id="nav-rumordetection-tab"
            data-toggle="tab"
            href="#nav-rumordetection"
            role="tab"
            aria-controls="nav-rumordetection"
            aria-selected="false"
            >Rumor Detection</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div
          class="tab-pane fade show active"
          id="nav-analysis"
          role="tabpanel"
          aria-labelledby="nav-analysis-tab"
        >
          Analysis over here
          <div id="piechart"></div>
        </div>
        <div
          class="tab-pane fade"
          id="nav-toppostweets"
          role="tabpanel"
          aria-labelledby="nav-toppostweets-tab"
        >
          Top positive tweets over here
        </div>
        <div
          class="tab-pane fade"
          id="nav-topnegtweets"
          role="tabpanel"
          aria-labelledby="nav-topnegtweets-tab"
        >
          Top negative over here
        </div>
        <div
          class="tab-pane fade"
          id="nav-rumordetection"
          role="tabpanel"
          aria-labelledby="nav-rumordetection-tab"
        >
          Rumor Detection of the Tweets fetched
          
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<script src="./assets/js/twitter.js"></script>
<% include partials/footer %>
